# Generated

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Docs
./docs/

## React Bundle
build/*.map
build/*.json
build/*.js

# IDEs and Editors

## JetBrains
.idea/

## Vim
*.swo
*.swp

# Dependency directories
node_modules/

# Environment Variables
.env

